venv/
.DS_Store
.idea/
*.egg-info
*.pot
*.env
*.py[co]
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
tests/report/
db.sqlite3
cover/
.coverage
secrets.sh
ENV/
__pycache__
client/node_modules/
backend/.tox/
*.sublime-project